.about-me {
    color: white;
    background-color: rgb(19, 19, 31);
    min-height: calc(100vh - 60px);
    max-height: fit-content;
    display: flex;
    padding: 40px 10% 0px 5%;
    padding-top: 40px;
    font-size: 1.1rem;
    line-height: 30px;
}

.about-me-pic {
    margin-bottom: 10px;
}

.about-me-pic img {
    width: 280px;
}

.about-img-box {
    margin-right: 90px;
}

.check {
    text-align: center;
}

.check a {
    color: white;
}

.check a i {
    color: rgb(16, 16, 156);
}

.about-me-head {
    margin-bottom: 15px;
    font-size: 35px;
}

.about-me-p1 {
    font-size: 23px;
    margin-bottom: 10px;
}

@media(max-width: 900px){
    .about-me {
        flex-direction: column;
        padding-right: 3%;
    }

    .about-img-box {
        margin: auto;
        margin-bottom: 25px;
    }
}