

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 22, 39);
    align-items: center;
    min-height: 60px;
    padding-left: 5%;
    width: 100%;
}

.my-name {
    font-size: 3rem;
    color: red;
    position: relative;
}

.my-name span {
    font-family: 'Shalimar', cursive;
    font-size: 2rem;
    border-top: 1px solid red;
    color: white;
    position: absolute;
    bottom: 0;
    left: 25px;
}

.navlinks {
    list-style-type: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.navlinks .top-links {
    text-decoration: none;
    color: white;
    position: relative;
}



.mobile-toggle {
    color: white;
    display: none;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 25px;
}

.navlinks .active {
    color: rgb(201, 37, 37);
}



@media(max-width:800px){

    .my-name{
        display: flex;
        width: 100%;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks {
        flex-direction: column;
        justify-content: space-around;
        display: none;
        width: fit-content;
        margin: auto;
    }

    .navlinks > .top-links li {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .nav-slide-in {
        display: block;
    }

    .navlinks .top-links {
        width: fit-content;
    }

    .mobile-toggle {
        display: block;
        margin-left: auto;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}