
.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    padding: 0 5px 25px 5px;
}

.my-project {
    width: 31%;
    height: 300px;
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 0 1% 25px 1%;
}

.my-project > a {
    display: block;
    height: 100%;
    width: 100%;
}

.my-project img {
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.my-project:hover img {
    filter: brightness(30%);
    transition: all 500ms ease;
}


.my-project .proj-description {
    position: absolute;
    color: white;
    display: none;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.my-project:hover .proj-description {
    display: block;
}

.tools {
    position: absolute;
    padding-left: 5%;
    bottom: 8%;
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.tools > div {
    background-color: rgb(56, 55, 55);
    padding: 8px 12px;
    border-radius: 7px;
    margin-right: 12px;
    margin-top: 6px;
}

.my-project:hover .tools {
    opacity: 0.6;
}

.check-github {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.check-github a {
    color: white;
}


@media(max-width: 1100px) {
    .my-project {
        width: 45%;
        margin: 0 2.5% 25px 2.5%;
    }
}

@media(max-width: 700px){
    .projects {
        flex-direction: column;
    }

    .my-project {
        width: 90%;
        height: 230px;
        margin: 35px auto 35px auto;
    }
}